<div class="page__monitoring">
  <table mat-table [dataSource]='dataSource' matSort matSortActive='nodeName' matSortDirection='asc' matSortDisableClear>
    <!-- Full name Column -->
    <ng-container matColumnDef="nodeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя узла </th>
      <td mat-cell *matCellDef="let item"> {{item.nodeName}} </td>
    </ng-container>

    <!-- googleEmail Column -->
    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата последней статистики </th>
      <td mat-cell *matCellDef="let item"> {{item.createdDate ?? item.updatedDate}} </td>
    </ng-container>

    <!-- Role name Column -->
    <ng-container matColumnDef="clientVersion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Версия Client </th>
      <td mat-cell *matCellDef="let item"> {{item.version}} </td>
    </ng-container>

    <!-- State name Column -->
    <ng-container matColumnDef="os">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип устройства </th>
      <td mat-cell *matCellDef="let item"> {{item.operatingSystem}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
